.css-on95s8-MuiAccordionDetails-root {
  padding: 0px !important;
}
.css-46bh2p-MuiCardContent-root:last-child {
  padding-bottom: 1px !important;
}
.css-i4bv87-MuiSvgIcon-root {
  border-radius: 50% !important;
}
.css-1t6e9jv-MuiCardActions-root {
  padding: 0px !important;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  min-width: 5px !important;
}
.react-multiple-carousel__arrow--right {
  right: calc(230px) !important;
}
.react-multiple-carousel__arrow--left {
  left: calc(230px) !important;
}
.css-hn784z {
  height: 0% !important;
}
.css-1abc02a {
  height: 0% !important;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 16.5px 0px !important ;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline-root.Mui-focused {
  border-color: black !important;
}
.css-v4u5dn-MuiInputBase-root-MuiInput-root.Mui-disabled:before {
  border-bottom-style: solid !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  margin-left: -12px !important;
}
.css-1h51icj-MuiAutocomplete-root .MuiInput-root {
  padding-bottom: 7px !important;
}
.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: rgba(0, 0, 0, 0.23) !important;
}
.css-ldtf8r-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: black !important;
}
.css-bu34p1-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: black !important;
}
.css-l699f6-MuiFormLabel-root-MuiInputLabel-root {
  color: black !important;
}
.css-wpurlh-MuiSlider-root {
  color: black !important;
}
